:root {
  --color-main: #FEFAE0;
  --color-banner-caption-text: #f5f5f5;
  --color-accent-primary: #DDA15E;
  --color-accent-secondary: #BC6C25;
  --color-alternate-primary: #606C38;
  --color-alternate-secondary: #283618;
  --bg-translucent-web: rgba(0, 0, 0, 0.7);
  --bg-translucent-mobile: rgba(0, 0, 0, 0.5);
  --i: 0;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Serif", serif;
  background-color: var(--color-main);
}

.banner {
  scroll-snap-align: start;
}

.banner-item {
  position: relative;
  height: 100svh;
  width: 100svw;
}

.banner-caption-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-translucent-web);
  display: flex;
  justify-content: center;
  align-items: center;
}


.banner-caption {
  width: 80%;
  text-align: center;
  color: var(--color-banner-caption-text);
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
}

.banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero {
  width: 100%;
  padding: 60px 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: start;
}

#logo {
  width: 360px;
  object-fit: contain;
}

#cta {
  padding: 12px 24px;
  background-color: var(--color-alternate-primary);
  color: var(--color-main);
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  text-decoration: none;
  border: none;
  outline: none;
}

#cta:active,
#cta:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

#hero-caption {
  width: 480px;
  text-align: center;
  line-height: 28px;
}

#hero-caption-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .banner-caption-container {
    background-color: var(--bg-translucent-mobile);
  }

  .banner-caption {
    font-size: 32px;
  }

  #hero {
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  #hero-caption {
    width: 100%;
  }

  #logo {
    width: 240px;
  }

  #products {
    padding: 40px 0px !important;
  }

  #products-header {
    padding: 0px 24px;
  }

  #products-container {
    flex-wrap: nowrap !important;
    padding: 0 36px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .product:hover {
    transform: none !important;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  footer>div {
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px !important;
  }

  #attributions {
    width: 100%;
    text-align: center;
    gap: 12px;
  }
}

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
  padding: 40px 24px;
  background-color: #f3dcb5;
  scroll-snap-align: start;
}

#products-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}

#products-heading {
  text-align: center;
  font-style: italic;
  font-size: 36px;
  font-weight: 500;
}

#products-caption {
  width: clamp(300px, 80%, 600px);
  text-align: center;
}

#products-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 32px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-accent-primary);
  border-radius: 12px;
  padding-bottom: 24px;
  align-self: flex-start;
  transition: transform 0.3s;
  scroll-snap-align: center;
  animation: fade-in 0.5s ease-in-out forwards;
}

#products-container:nth-child(1) {
  --i: 1;
}

#products-container:nth-child(2) {
  --i: 2;
}

#products-container:nth-child(3) {
  --i: 3;
}

#products-container:nth-child(4) {
  --i: 4;
}

#products-container:nth-child() {
  animation-delay: calc(0.1s * var(--i));
}

.product-image {
  width: 300px;
  height: 450px;
  object-fit: contain;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.product-description {
  display: none;
  text-align: center;
}

.product:hover {
  transform: scale(1.05);
}

footer {
  padding: 24px;
  font-weight: 200;
  background-color: var(--color-alternate-secondary);
  color: var(--color-main);
  scroll-snap-align: end;
}

footer a {
  color: var(--color-main);
  text-decoration: underline;
  text-decoration-style: dotted;
}

footer a:hover {
  text-decoration-style: solid;
}

footer>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

#attributions {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 6px;
}

#socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#self {
  text-align: center;
}