#gallery {
  padding: 64px 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#showcase {
  height: 80vh;
  border-radius: 16px;
  object-fit: fill;
  align-self: center;
}

#gallery-content-container > h5 {
  max-width: 540px;
  font-size: 36px;
  font-family: "Merienda";
}

#gallery-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 36px 0;
}

#gallery-actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#contact-from-gallery {
  font-size: 18px;
  font-family: "Noto Sans Display";
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-black-1);
  text-underline-offset: 4px;
}

#contact-from-gallery:hover {
  text-decoration-style: solid;
}
