#gallery {
  padding: 64px 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#showcase {
  height: 80vh;
  border-radius: 16px;
  object-fit: fill;
  align-self: center;
}

.gallery-content-container > h5 {
  max-width: 420px;
  font-size: 36px;
  font-family: "Merienda";
}

.gallery-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 36px 0;
}
