#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100dvh - 108px);
  width: 100dvw;
  padding: 36px;
  gap: 36px;
}

.textContentContainer {
  width: 650px;
  font-size: 36px;
  font-family: "Merienda";
}

#home > button {
  background: var(--color-biscuit-brown);
  color: whitesmoke;
  width: fit-content;
  font-size: 21px;
  font-weight: 500;
  font-family: "Noto Sans Display";
  border: solid 1px var(--color-biscuit-brown-1);
  border-radius: 12px;
  padding: 12px 24px;
}

#home > button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 720px) {
  .textContentContainer {
    width: 100%;
    font-size: 5.25vw;
  }
}

@media screen and (max-width: 480px) {
  #home {
    padding: 48px;
  }
  .textContentContainer {
    font-size: 24px;
  }
  #home {
    gap: 48px;
  }
  #home > button {
    padding: 8px 12px;
  }
}
