#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100dvh - 108px);
  width: 100dvw;
  padding: 36px;
  gap: 36px;
}

.textContentContainer {
  width: 650px;
  font-size: 36px;
  font-family: "Merienda";
}

@media screen and (max-width: 720px) {
  .textContentContainer {
    width: 100%;
    font-size: 5.25vw;
  }
}

@media screen and (max-width: 480px) {
  #home {
    padding: 48px;
  }
  .textContentContainer {
    font-size: 24px;
  }
  #home {
    gap: 48px;
  }
}
